version: '3.8'

services:
  app:
    container_name: fastapi_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    expose:
      - "8000"
    environment:
      - PYTHONUNBUFFERED=1
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8000
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx_prx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - app
    networks:
      - app_network

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt:rw
      - ./certbot/www:/var/www/certbot:rw
    entrypoint: >
      /bin/sh -c "trap exit TERM;
       while true; do
         certbot renew;
         sleep 12h & wait $${!};
       done;"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
